body {
    background: #FEF3D5;
    color: #1875A4;
    margin: 0;
}

.navbar {
    background: #1875A4;
    color: #FEF3D5;
    width: 100%;
    padding: 8px 0;
}

.center-wrapper {
    width: 80%;
    margin: auto;
}

a {
    color: #FEF3D5;
    text-decoration: none;
}
